.wrapper {
  width: 100%;
  padding: 120px 0;
  background: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}




.mainImage {
  object-fit: cover;
}

.title {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.1;
  z-index: 999;
    position: relative;
}

.red {
  color: #d72628;
}

.blue {
  color: #1d2b61;
}

.ctaBtn {
  margin-top: 25px;
  padding: 14px 32px;
  background: #d72628;
  border: none;
  color: white;
  font-size: 1.1rem;
  font-weight: 600;
  border-radius: 4px;
  cursor: pointer;
}
